@tailwind base;
@layer base {
    :root {
        --base: #fff;
        --label: #000;
        --secondary-label: #444;
        --tertiary-label: #444;
        --elevated: #fafafa;
        --separator: #eaeaea;
        --opaque-separator: #999;

        --highlight: #0070f3;
        --highlight-dark: #0761d1;
        --highlight-light: #3291ff;
        --red: red;
        --red-dark: #e60000;
        --red-light: #f33;
    }
    
    @media screen and (prefers-color-scheme: dark) {
        :root {
            --base: #000;
            --label: #fff;
            --secondary-label: #eaeaea;
            --tertiary-label: #999;
            --elevated: #111;
            --separator: #333;
            --opaque-separator: #444;

            --highlight-light: #0761d1;
            --highlight-dark: #3291ff;
            --red-light: #e60000;
            --red-dark: #f33;
        }
    }

    body {
        @apply bg-base text-label;
    }

    .w-page {
        @apply w-full max-w-7xl mx-auto;
    }

    .px-page {
        @apply px-4;
    }
};
@tailwind components;
@tailwind utilities;
